Makefile
Makefile.in
.deps
.libs

*.o
*.lo
*.loT
*.la
*.eplug
*.swp

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
*.tar.bz2
*.tar.gz
/install-sh
/missing
/stamp-h1
/*.patch
/ylwrap
/libtool
/ltmain.sh

/.vimrc
/tags
/.misc
