Makefile
Makefile.in
.deps
.libs

*.o
*.lo
*.loT
*.la
*.swp

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
*.tar.bz2
*.tar.gz
/install-sh
/missing
/stamp-h1
/*.patch
/ylwrap
/libtool
/ltmain.sh

/.vimrc
/tags
/.misc
/docs/html

/interface/ES*

/evolution-plugin/org-gnome-evolution-eee.eplug
/evolution-plugin/org-gnome-eee-cal-subscription.xml
/evolution-plugin/org-gnome-eee-cal-admin.xml

/.log
