Makefile
Makefile.in
.deps
.libs

*.o
*.lo
*.loT
*.la
*.swp

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
*.tar.bz2
*.tar.gz
/install-sh
/missing
/stamp-h1
/*.patch
/ylwrap
/libtool
/ltmain.sh

/.vimrc
/tags
/.misc

/interface/ESAdmin.c
/interface/ESAdmin.xrc.c
/interface/ESClient.c
/interface/ESClient.xrc.c
/interface/ESCommon.c
/interface/ESServer.c
/interface/ESServer.xrc.c
/interface/ESAdmin.h
/interface/ESAdmin.xrc.h
/interface/ESClient.h
/interface/ESClient.xrc.h
/interface/ESCommon.h
/interface/ESServer.h
/interface/ESServer.xrc.h

/evolution-plugin/org-gnome-evolution-eee.eplug
/evolution-plugin/org-gnome-eee-cal-subscription.xml
/evolution-plugin/org-gnome-eee-cal-admin.xml

/.log
